APP_NAME=Gilbert
APP_ENV=local
APP_KEY=base64:MEtARnyB28edH1x53V+WiuG3P523OXBwQ0+RbMBKDgw=
APP_DEBUG=true
APP_URL=http://localhost:8000
#APP_URL=https://devcrmagency.hood.ai
TIME_ZONE=6
LOG_CHANNEL=stack
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gb
DB_USERNAME=root
DB_PASSWORD=
BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=10
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
MAIL_MAILER=log
MAIL_HOST=email-smtp.us-east-1.amazonaws.com
MAIL_PORT=587
MAIL_USERNAME=AKIAW7UP3Z23Q2PHWNWZ
MAIL_PASSWORD=BP0uwqRuwi4MrdNgPdWSO1qzQY6hqULDnSpNqEAOwtmL
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=dimuthu@hood.ai
MAIL_FROM_NAME="${APP_NAME}"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
PUSHER_APP_ID=1094929
PUSHER_APP_KEY=eecd69a05eac15786a3f
PUSHER_APP_SECRET=0630b4247f9f16b80792
PUSHER_APP_CLUSTER=ap1
SANCTUM_STATEFUL_DOMAINS="cb-dashboard.test,*"
TELESCOPE_ENABLED=true
BOT_ROOT_URL=https://demo.chatbot.hood.ai/
MIX_BOT_ROOT_URL="${BOT_ROOT_URL}"
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
HUB_SPOT_CREATE_CONTACT_URL=https://api.hubapi.com/contacts/v1/contact?hapikey=
HUB_SPOT_UPDATE_CONTACT_URL=https://api.hubapi.com/contacts/v1/contact/vid/${id}/profile?hapikey=
HUB_SPOT_API_KEY=1c0e91c4-2dbc-4f31-992c-e1341e5144c7
SUMO_BASE_URL=https://stageapi.sumo.com.au/hood/v1.0
MIX_SUMO_BASE_URL=${SUMO_BASE_URL}
#prod
#FC_BASE_URL=https://api.fastconnect.net.au
#FC_BASE64_KEY="Basic bGl2ZV8ycUMxMU1ZTW9ZZURqeGlLMVJRc0hrU2o6SWRYNHZnUXoyMDZ0OWNjcFJqMlRvbTN4UU1MS0IzUXRWTDJxQ3d2NnE3SGx4OHQ1"
EA_SALES_API_ON=1
#OurProerty
OUR_PROPERTY_AGENT_EMAIL=robert@barryplant.com
OUR_PROPERTY_AGENCY_NAME="Roberts Group"
OUR_PROPERTY_AGENCY_ID=1
PROPERTY_ME_OAUTH_CALLBACK=http://localhost:65385/home/callback
PROPERTY_ME_LABEL="|hood|"
PROPERTY_ME_SUPPORT_EMAILS="justtleinin@gmail.com,lenin@enkaizen.com"
PROPERTY_ME_CLIENT_VERSION=v2
PROPERTY_ME_CLIENT_ID_V1=4327dc6d-a137-43c2-aabb-80992a7e3fcc
PROPERTY_ME_CLIENT_SECRET_V1=af7a6283-6dee-4870-83f0-0638d8cc0d82
PROPERTY_ME_CLIENT_ID_V2=0efaa3d4-e63f-4922-8c12-d519d6227196
PROPERTY_ME_CLIENT_SECRET_V2=f4eb9a1e-a446-472a-84b6-065a6012ad13
TELESCOPE_AUTHORIZED_EMAILS="admin@hood.ai,taiges@mailinator.com"
SERVER_MEMORY_LIMIT=1024M
SERVER_TIMEOUT=600
PROPERTY_ME_CONTACT_SCHEDULER_INTERVAL=60
WKHTML_PDF_BINARY=/usr/local/bin/wkhtmltoimage
WKHTML_IMG_BINARY=/home/lnn/www/src/__/wkpdf/wkhtmltoimage
EXTERNAL_TL_EMAIL="shanedoust@hood.ai"
GBG_USER_ID=hoodmovetech_test_user
GBG_PASSWORD=f3se7N14GrCxHWQDgAJTu7wluFw7jDW9
MIX_GBG_USER_ID="${GBG_USER_ID}"
MIX_GBG_PASSWORD="${GBG_PASSWORD}"
TWILIO_AUTH_TOKEN=acfdaed7f79b7edd6d36a29f0112ae52
TWILIO_ACCOUNT_SID=AC2388d7a8d6a0bee3ee53b0fa43fa8d67
TWILIO_FROM="+17193987245"
TWILIO_ALPHA_SENDER=HOOD
Git='https://github.com/Hummingbird-AI/hood-crm-dashboard.git/'
