APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

SANCTUM_STATEFUL_DOMAINS=  # "cb-dashboard.test,*"
TELESCOPE_ENABLED=true
BOT_ROOT_URL=
MIX_BOT_ROOT_URL="${BOT_ROOT_URL}"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FC_BASE_URL=
FC_TOKEN_URI=
FC_NMI_MIR_NURI=
FC_BASE64_KEY=

HUB_SPOT_CREATE_CONTACT_URL=
HUB_SPOT_UPDATE_CONTACT_URL=
HUB_SPOT_API_KEY=


#OurProerty
OUR_PROPERTY_AGENT_EMAIL=
OUR_PROPERTY_AGENCY_NAME=
OUR_PROPERTY_AGENCY_ID=


PROPERTY_ME_OAUTH_CALLBACK=
PROPERTY_ME_LABEL=
PROPERTY_ME_SUPPORT_EMAILS=

GBG_USER_ID=
GBG_PASSWORD=
MIX_GBG_USER_ID="${GBG_USER_ID}"
MIX_GBG_PASSWORD="${GBG_PASSWORD}"