
$primary: #5C229A;

.card-title {
    background: $primary
}


.customer-insight {
    .v-card {
        min-height: 140px;
        max-height: 140px;
    }
}

.navigation-drawer-menu {
    .v-list-group__items {
        background-color: #f1f1f1 !important;
    }
}
.menu-color {
    input {
        color: #fff !important;
    }
    i {
        color: #fff !important;
    }
    .v-label {
        color: #fff !important;
    }
}
.messenger-support {
    .v-toolbar__content {
        background-color: rgb(233, 230, 230) !important;
    }
    .v-list  {
        background-color: rgb(233, 230, 230) !important;
    }

}
