@import "~spin.js/spin.css";
$primary_color: #5C229A;
$toolbar_color: white;
$shade_one_color: #00355E;
$shade_two_color: white;

@import "overridevuetify";
@import "mediaquery";
@import "typography";
@import "themes";
@import "loginpage";
@import "dialogs";
@import "leadebadge";
@import "progressbar";
@import "officeprofile";
@import "crmtable";
@import "application";

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
    .v-application {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        font-size: 16px !important;
        background-color: #F1F3F4 !important;
    }
}



.body-bg {
    background-color: #F1F3F4 !important;
}

.hood-gradiant {
    background: linear-gradient(to right bottom, #56CCF2 -75.93%, #542E89 42.76%, #9C27B0 118.83%) !important;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
}
.small-text{
    font-size: .75rem;
}

.max-width {
    width: 100%
}
.max-height {
    width: 100%
}

.widget-title {
    color: #252733 !important;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}
.low-opacity {
    opacity: .2 !important;
}
.invisible {
    opacity: 0 !important;
}
