
$primary_color: #5C229A;
$toolbar_color: white;
$shade_one_color: #00355E;
$shade_two_color: white;

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    .v-application {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
    }
}
.body-bg {
    background-color: #EBEEF1 !important;
}
