.crm-table {
    table {
        tr {
            th {
                font-size: 16px !important;
                font-weight: 700 !important;
                color: #000 !important;
            }
        }
        tr {
            td {
                font-size: 16px !important;
                font-weight: 400 !important;
                color: #7E8A8F !important;
                &:first-child {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                    color: #263238 !important;
                }
            }

        }
    }
}