.section-dialogs {
    .dialogs-title {
        font-size: 32px;
        color: $primary_color;
        font-weight: 700;
    }
    .dialogs-area {
        .title {
            font-size: 24px;
            font-weight: 700;
        }
    }
}
.dialogs-title {
    font-size: 32px;
    color: $primary_color;
    font-weight: 700;
}