.section-dialogs {
    padding: 10px 20px;
    .dialogs-title {
        font-size: 25px;
        color: $primary_color;
        font-weight: 700;
    }
    .dialogs-area {
        .title {
            font-size: 24px;
            font-weight: 700;
        }
    }
    .popup-escalate-title {
        font-size: 21px !important;
    }
}

.v-dialog
{
    border-radius: 8px !important;
}
