.section-leademetriics {
    display: flex;
    .leade-badge {
        flex-basis: 16.6%;
        margin: 10px;
        padding: 10px;
        border: 2px solid #E0E0E0;
        background: #fff;
        border-radius: 10px;
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0px;
        }
        .leade-icon {
           display: flex;
           align-items: center;
            i {
                padding-right: 10px;
            }
            span {
                font-size: 32px;
                font-weight: 700;
            }
            .v-input {
                max-width: 100px;
            }
        }
        .leade-text {
            color: #7E8A8F;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }
}

