.section-leademetriics {
    display: flex;
    width: 100%;
    .leade-badge {
        flex-basis: 16.6%;
        margin: 10px;
        padding: 10px;
        border: 2px solid #E0E0E0;
        background: #fff;
        border-radius: 16px;
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0px;
        }
        .leade-icon {
           display: flex;
           align-items: center;
            i {
                padding-right: 10px;
            }
            span {
                font-size: 32px;
                font-weight: 700;
            }
            .v-input {
                max-width: 100px;
            }
        }
        .leade-text {
            color: #7E8A8F;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }
}

.leade-badge {
    padding: 5px;
    border: 2px solid #E0E0E0;
    background: #fff;
    border-radius: 16px;
    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .leade-icon {
       display: flex;
       align-items: center;
        i {
            padding-right: 10px;
        }
        span {
            font-size: 32px;
            font-weight: 700;
        }
        .v-input {
            max-width: 100px;
        }
    }
    .leade-text {
        color: #7E8A8F;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
    }
}
.leade-border {
    border-left: 1px solid #E0E0E0;
    margin: 0px 10px;
}
.agent-leade-section {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    .agent-leade {
        padding: 8px;
        margin: 5px;
        flex-basis: 15.66%;
        border: 2px solid #E0E0E0;
        background: #fff;
        border-radius: 10px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0px;
            min-height: 30px;
        }
        .leade-icon {
        display: flex;
        align-items: center;
            i {
                padding-right: 10px;
            }
            span {
                font-size: 32px;
                font-weight: 700;
            }
            .v-input {
                max-width: 100px;
            }
        }
        .leade-text {
            color: #7E8A8F;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }
}
