@media only screen and (min-width: 1498px) {
    .applications-badge {
         .title {
            font-size: 24px !important;
            font-weight: 700;
            margin-bottom: 0px;
            min-height: 70px;
        }
    }
}