.section-progressbar {
    span {
        width: 100%;
        height: 4px;
        background: #E0E0E0;
        display: block;
        border-radius: 3px;
        &.active {
            background:$primary_color;
        }
    }

}