.hood-card{
    border-radius: 8px !important;
    padding: 24px !important;
    box-shadow: 0px 2px 8px 0px #00000033 !important;
}

.hood-card-for-agency{
    border-radius: 8px !important;
    padding: 12px 12px !important;
    box-shadow: 0px 2px 8px 0px #00000033 !important;
}
.hood-card-light{
    border-radius: 10px !important;
    padding: 8px 24px 8px 24px !important;
}
.search-bg {
    .v-input {
        background: white !important;
    }
}
.dialogs-title {
    font-size: 25px;
    color: $primary_color;
    font-weight: 700;
}
.primary-text {
    color: $primary_color;
}
.mdi-water.blue--text {
    color: #03A9F4 !important;
    caret-color: #03A9F4 !important;
}
.mdi-fire.red--text {
    color: #FF5722 !important;
    caret-color: #FF5722!important;
}
.mdi-flash.yellow--text {
    color: #FFC107 !important;
    caret-color: #FFC107 !important;
}
.mdi-wifi.green--text {
    color: #5C229A !important;
    caret-color: #5C229A !important;
}
 