.hood-card{
    border-radius: 8px !important;
    padding: 15px !important;
    box-shadow: 0px 2px 8px 0px #00000033 !important;
}
.search-bg {
    .v-input {
        background: white !important;
    }
}
.dialogs-title {
    font-size: 25px;
    color: $primary_color;
    font-weight: 700;
}
.primary-text {
    color: $primary_color;
}
